<h1>Listing articles</h1>
<div id='article_form'>

  <%= form_for @article do |f| %>
    <%= f.text_field :description %>
    <%= f.submit "Submit Query" %>
  <% end %>
</div>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= formated_id(article.id) %></td>
        <td><%= link_to article.created_at, article_path(article) %></td>
        <td><%= article.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
