<%= formated_article(@article) %>

<%= form_for [@article, @comment] do |f| %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>

<% unless @comments.empty? %>
  <ul>
    <% @comments.each do |comment| %>
      <% if comment.master_comment_id? %>
        <li class='second'><%= "#{@article.id}.#{@article.comments.index(comment) + 1} #{comment.created_at} #{comment.description}" %></li>
      <% else %>
        <li><%= "#{@article.id}.#{@article.comments.index(comment) + 1} #{comment.created_at} #{comment.description}" %></li>
      <% end %>
      <%= form_for [@article, Comment.new] do |c| %>
        <%= c.hidden_field :master_comment_id, value: comment.id %>
        <%= c.text_field :description %>
        <%= c.submit %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= will_paginate @comments %>
