<%= formated_article(@article) %>

<%= form_for [@article, @comment] do |f| %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>

<% unless @comments.empty? %>
  <ul>
    <% first_comment = 1 %>
    <% second_comment = 1 %>
    <% @ca.each do |comment| %>
      <% if comment.master_comment_id? %>
        <li class='second'><%= "#{@article.id}.#{first_comment - 1}.#{second_comment} #{comment.created_at} #{comment.description}" %></li>
        <% second_comment += 1 %>
      <% else %>
        <li><%= "#{@article.id}.#{first_comment} #{comment.created_at} #{comment.description}" %></li>
        <% first_comment += 1 %>
      <% end %>
      <%= form_for [@article, Comment.new] do |c| %>
        <%= c.hidden_field :master_comment_id, value: comment.id %>
        <%= c.text_field :description %>
        <%= c.submit %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= will_paginate @comments %>
